@tailwind base;
@tailwind components;
@tailwind utilities;

/* define default colors for theme */
@layer base {
  :root {
    --primary-color: rgb(41, 141, 255);
    --secondary-color: rgb(229, 229, 247);
    --scene-color: hsl(0, 0%, 100%);
    --muted-color: rgb(234, 237, 241);
    --search-bg: rgb(249, 250, 251);
    --text-color-main: hsl(0, 0%, 100%);
    --text-color-inverted: hsl(0, 0%, 9%);
    --text-color-light: hsl(0, 0%, 33%);
    --shadow-color: rgb(0, 0, 0, 0.2);
  }
}

/* 
  --primary-color: button background,
  --secondary-color: only for background color of dots pattern
  --scene-color: body background
  --muted-color: 
  --search-bg: background for search input
  --text-color-main: 
  --text-color-inverted: 
  --text-color-light: 
  --shadow-color: 
*/

.theme-red {
  --primary-color: rgb(219, 68, 55);
  --secondary-color: rgb(247, 229, 229);
}

.theme-yellow {
  --primary-color: rgb(244, 180, 0);
  --secondary-color: rgb(247, 247, 229);
}
.theme-green {
  --primary-color: rgb(15, 157, 88);
  --secondary-color: rgb(229, 247, 230);
}

.default-dark {
  --primary-color: rgb(41, 141, 255);
  --secondary-color: rgb(50, 50, 50);
  --scene-color: rgb(18, 18, 22);
  --muted-color: rgb(48, 49, 52);
  --search-bg: rgb(35, 35, 35);
  --text-color-main: hsl(0, 0%, 90%);
  --text-color-inverted: hsl(0, 0%, 89%);
  --text-color-light: hsl(0, 0%, 83%);
  --shadow-color: rgba(42, 42, 42, 0.5);
}

.theme-dark-red {
  --primary-color: rgb(150, 30, 30);
  --secondary-color: rgb(255, 204, 204);
  --scene-color: rgb(33, 33, 33);
  --muted-color: rgb(48, 49, 52);
  --search-bg: rgb(35, 35, 35);
  --text-color-main: hsl(0, 0%, 90%);
  --text-color-inverted: hsl(0, 0%, 89%);
  --text-color-light: hsl(0, 0%, 83%);
  --shadow-color: rgba(42, 42, 42, 0.5);
}

.theme-dark-green {
  --primary-color: rgb(34, 139, 34);
  --secondary-color: rgb(144, 238, 144);
  --scene-color: rgb(33, 33, 33);
  --muted-color: rgb(48, 49, 52);
  --search-bg: rgb(35, 35, 35);
  --text-color-main: hsl(0, 0%, 90%);
  --text-color-inverted: hsl(0, 0%, 89%);
  --text-color-light: hsl(0, 0%, 83%);
  --shadow-color: rgba(42, 42, 42, 0.5);
}

.theme-dark-yellow {
  --primary-color: rgb(204, 182, 62);
  --secondary-color: rgb(255, 255, 204);
  --scene-color: rgb(33, 33, 33);
  --muted-color: rgb(48, 49, 52);
  --search-bg: rgb(35, 35, 35);
  --text-color-main: hsl(0, 0%, 90%);
  --text-color-inverted: hsl(0, 0%, 89%);
  --text-color-light: hsl(0, 0%, 83%);
  --shadow-color: rgba(42, 42, 42, 0.5);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* this className is only used inside SearchHeader component on Link tag */
@media only screen and (min-width: 1010px) {
  .customMargin {
    margin-right: 3rem;
  }
}
.otln {
  outline: 1px solid red;
}

/* selected class is for when a theme is selected */
.selected {
  position: relative;
  transform: scale(0.9);
}
.selected::after {
  content: "✓";
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -5px;
  right: -5px;
  color: white;
  font-size: 15px;
  background-color: var(--primary-color);
  border-radius: 50%;
  padding: 1px;
  padding-top: 2px;
  padding-right: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  z-index: 1;
}
